$color-primary: #193d79;
$color-primary-light: #235ab3;
$color-primary-dark: #041b40;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #a945fc;
$color-tertiary-dark: #7707a3;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-light-white: #ddd;

$color-grey-light-1: #ffffff;
$color-grey-light-2: #eee;

$polygon: polygon(0 0, 97% 0, 100% 92%, 3% 100%);

// FONT
$default-font-size: 1.9rem;
$big-font-size: 2.4rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;