$color-primary: #193d79;
$color-primary-light: #235ab3;
$color-primary-dark: #041b40;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #a945fc;
$color-tertiary-dark: #7707a3;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-light-white: #ddd;

$color-grey-light-1: #ffffff;
$color-grey-light-2: #eee;

$polygon: polygon(0 0, 97% 0, 100% 92%, 3% 100%);