.header {
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../graphic/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: $polygon;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 18.5rem;
    opacity: .6;
    border-radius: 16px;
  }
  
  &__text-box {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}